#playerOne, #oneBtns {
	position: absolute;
	top: 0;
	left: 0;
}
#playerTwo, #twoBtns {
	position: absolute;
	bottom: 0;
	right: 0;
}
#buttons {
	width: 170px;
	height: 200px;
}
#tiles, #buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.tile {
	width: 80px;
	height: 40px;
	background: transparent;
	border: none !important;
}
#totalPts {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
#randomTxt {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#oneBtns, #twoBtns {
	width: 360px;
	height: 360px;
}
#displayOne {
	position: absolute;
	bottom: 10px;
	left: 260px;
	transform: translate(-50%, -50%);
}
#displayTwo {
	position: absolute;
	top: 10px;
	right: 260px;
	transform: translate(50%, 50%);
}
.backgroundBtn {
	position: absolute;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none !important;
	outline: none;
}
#rotateOne {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#rotateTwo {
	position: absolute;
	top: 10px;
	right: 10px;
}